<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="normal/user-base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Create Contact</title>
</head>
<body>

	<section>
	
		<div class="card mr-3 cover-screen">
		
			<div class="card-body">
			
				<h1 class="text-center">Create Contact</h1>
				
				<div class="container-fluid">
				
					<div class="row">
					
						<div class="col-md-10 offset-md-1">
						
							<form action="#"
								th:object="${contact}"
								enctype="multipart/form-data"
								method="POST"
								th:action="@{/user/process_contact}"
								class="mt-2"
							>
							
							<!-- Full Name -->
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								
								<input required type="text" id="firstname" name="name" placeholder="Enter full name here" class="form-control"/>
							</div>
							
							<!-- Nick Name -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								
								<input type="text" id="nickName" name="nickName" placeholder="Enter nick name here" class="form-control"/>
							</div>
							
							<!-- Phone Number -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								
								<input required  type="number" id="phone" name="phone" placeholder="Enter cell number here" class="form-control"/>
							</div>
							
							<!-- Email Address -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa-solid fa-at"></i>
									</div>
								</div>
								
								<input  required type="email" id="email" name="email" placeholder="Enter email address here" class="form-control"/>
							</div>
							
							
							<!-- Work Field -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa fa-briefcase"></i>
									</div>
								</div>
								
								<input type="text" id="work" name="work" placeholder="Enter profession here" class="form-control"/>
							</div>
							
							<!-- Contact Image -->
							<div class="custom-file">
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text mr-3">
										<i class="fa-solid fa-camera"></i>
									</div>
								</div>
								
								<input type="file" name="profileImage" />
							</div>
							
							</div>
							
							<!-- Contact Description -->
							<div class="form-group mt-3">
							
								<textarea name="description" id="description" class="form-control" placeholder="Enter contact description" rows="5"></textarea>
							
							</div>
							
							
							<div class="container">
					
					<!-- Submit Button -->
					
						<button type="submit" class="btn bg-primary text-white text-center btn-block">
							Submit
						</button>
						
						
						<h1 style="padding: 5px"> </h1>
					<!-- Reset Button -->
					
						<button type="reset" class="btn btn-warning text-white btn-block">
							Reset
						</button>
					
					</div>
							
							</form>
						
						</div>
					
					</div>
				
				</div>
				
			</div>
		
		</div>
	<script>
	$(document).ready(() => {
		$(".item").removeClass("active");
		$("#addContact").addClass("active");
		
	});
	</script>
	
	</section>
</body>
</html>