<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="normal/user-base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Show Contact</title>
</head>
<body>

	<section>
		
		<div class="card mr-3  cover-screen">
		
			<div class="card-body">
				<h1 class="text-center">Contacts</h1>
				
				<!-- Search -->
				
				<div class="search-container my-4">	
				
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts" />
				
					<div class="search-result">
					
						<!-- Result code goes here -->
					
					</div>
				
				</div>
				
			<div class="table-responsive">
				<table class="table table-hover">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col">#ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone Number</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c : ${contacts}">
				      <td th:text="${'SCM2020' + c.cId}"></td>
				      <td >
				      	<img class="profile-pic" src="" th:src="@{'/img/profile/' + ${c.imageUrl}}" alt="img" />
				      	<span th:text="${c.name}"></span>
				      
				      </td>
				      <td>
				      
				      	<a href="#" th:href="@{'/user/' + ${c.cId} + '/contact'}">
				      		<span  th:text="${c.email}"></span>
				      	</a>
				      
				      </td>
				      <td th:text="${c.phone}"></td>
				      <td>
				      		
				      		<a class="btn btn-sm btn-primary" th:href="@{'/user/' + ${c.cId} + '/update_contact'}">Update</a>
				      		<a class="btn btn-sm btn-danger" href="#" th:onclick="|deleteContact(${c.cId})|">Delete</a>
				      
				      </td>
				    </tr>
				    
				  </tbody>
				</table>
			</div> 
				
				<!-- Pagination Part -->
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li class="page-item"><a class="page-link" th:if="${currentPage != 0}" th:href="@{'/user/show_contacts/' + ${currentPage-1}}" href="#">Previous</a></li>
				    
				    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item bg-primary">
				    
				    	<a class="page-link" th:href="@{'/user/show_contacts/' + ${i-1}}" href="#" th:text="${i}"></a>
				    	
				    </li>
				    
				    <li class="page-item"><a class="page-link" th:if="${currentPage+1 != totalPages}" th:href="@{'/user/show_contacts/' + ${currentPage+1}}" href="#">Next</a></li>
				  </ul>
				</nav>

			</div>
		
		</div>
	<script>
	$(document).ready(() => {
		$(".item").removeClass("active");
		$("#contacts").addClass("active");
		
	});
	</script>
	
	</section>
</body>
</html>