body{
	background: #e2e2e2!important;
}

.cover-screen{
	width: 100hh;
	/* height: 100vh; */
}

.bg-primary{
	background: #009688!important;
}

.banner{
	width: 100hh;
	height: 100vh;
	background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(../img/banner.jpg);
	background-size:cover;
	color:white;
}

.my-card{
	padding: 70px;
	background:#ffffff;
}

#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}




/* SideBar Styling  */



.sidebar{
	width: 15%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 30px;
	z-index: 9999999999999999999999999999;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
	margin-top: 1px;
}

.sidebar a:hover{
	background: #e2e2e2;
} 

.sidebar .divider{
	height: 1px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 1px;
}


.content{
	margin-left: 16%;
	/* margin-top: 0%; */
}


.backBtn {
	display: block;
	top: 0px;
	left: 10px;
	font-size: 22px;
	cursor: pointer;
	padding-top: 0px;
}
.barsBtn {
	display: none;
	top: 0px;
	left: 10px;
	font-size: 22px;
	cursor: pointer;
	padding-top: 0px;
}
 
 
@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
		z-index: 9999999999999999999999999999;
	}
	.content{
		margin-left: 1% !important;
		margin-top: 0%;
	}
	
	.backBtn {
		display: none;
		top: 0px;
		left: 10px;
		font-size: 22px;
		cursor: pointer;
		padding-top: 0px;
	}
	.barsBtn {
		display: block;
		top: 0px;
		left: 10px;
		font-size: 22px;
		cursor: pointer;
		padding-top: 0px;
	}
}

.profile-pic{
	width: 40px;
	height: 40px;
	object-fit:cover;
	border-radius: 50%;
}

/* Search CSS */

.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}

.active{
	background: #009688!important;
	color: white!important;
	
}

































